{% load static %}

<div class="contacts">
    <div class="contacts-wrap">
        <div class="contacts__link">
            <a href="#"><i class="fab fa-vk vk"></i></a>
            <a href="#"><i class="fas fa-phone-alt phone"></i> +7 (81369) 2-33-60</a>
            <a href="#"><i class="far fa-envelope envelope"></i> gtc.sbor@gmail.com</a>
            <a href="#">Проспект Героев, д. 30 / Космонавтов ул., д. 26</a>
            <a id="specialButton" href="#">Версия для слабовидящих</a>
        </div>
    </div>
</div>

<header class="header">
    <img src="{% static 'img/logo.png' %}" alt="logo" class="header-logo"/>
    <div class="header__text">
        <h1 class="header__text-title">ГОРОДСКОЙ ТАНЦЕВАЛЬНЫЙ ЦЕНТР</h1>
        <p class="header__text-subtitle">
            МУНИЦИПАЛЬНОЕ АВТОНОМНОЕ УЧРЕЖДЕНИЕ СОСНОВЫЙ БОР, ЛЕНИНГРАДСКАЯ
            ОБЛАСТЬ
        </p>
    </div>
</header>
