@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
.contacts {
  border-bottom: 1px solid #929292; }
  .contacts-wrap {
    max-width: 1400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .contacts__link {
    padding-bottom: 5px;
    margin: 0 auto; }
    @media (max-width: 800px) {
      .contacts__link {
        padding: 0 20px;
        text-align: center; } }
    .contacts__link a {
      font-family: "EB Garamond", serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      text-decoration: none;
      color: #929292; }
      @media (max-width: 800px) {
        .contacts__link a {
          font-size: 16px; } }
      .contacts__link a:not(:last-child) {
        margin-right: 60px; }
        @media (max-width: 1100px) {
          .contacts__link a:not(:last-child) {
            margin-right: 20px; } }
      .contacts__link a i {
        vertical-align: middle; }
      .contacts__link a .vk {
        font-size: 27px; }
      .contacts__link a .phone {
        font-size: 19px; }
  .contacts__search {
    padding-bottom: 5px;
    margin: 0 auto; }
    .contacts__search a {
      font-family: "EB Garamond", serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      text-decoration: none;
      color: #929292; }
      .contacts__search a i {
        font-size: 18px;
        vertical-align: middle; }
    .contacts__search input {
      border: 1px solid #929292;
      border-radius: 4px; }

.header {
  padding-top: 25px;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }
  @media (max-width: 600px) {
    .header {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .header-logo {
    max-width: 265px;
    max-height: 271px;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 1500px) {
      .header-logo {
        margin-left: 20px; } }
    @media (max-width: 800px) {
      .header-logo {
        max-width: 230px;
        -o-object-fit: contain;
           object-fit: contain; } }
    @media (max-width: 600px) {
      .header-logo {
        max-width: 125px;
        margin-left: 0; } }
  .header__text {
    max-width: 1350px;
    text-align: center; }
    @media (max-width: 1500px) {
      .header__text {
        margin-left: -20px; } }
    @media (max-width: 600px) {
      .header__text {
        margin-left: 0; } }
    .header__text-title {
      margin-left: 60px;
      font-family: "EB Garamond", serif;
      font-size: 70px;
      font-weight: 400;
      line-height: 60px; }
      @media (max-width: 1100px) {
        .header__text-title {
          font-size: 50px;
          margin-left: 19px; } }
      @media (max-width: 800px) {
        .header__text-title {
          font-size: 40px;
          line-height: 50px; } }
      @media (max-width: 600px) {
        .header__text-title {
          font-size: 25px;
          line-height: 30px; } }
    .header__text-subtitle {
      max-width: 726px;
      margin: 0 auto;
      font-family: "EB Garamond", serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 40px; }
      @media (max-width: 1100px) {
        .header__text-subtitle {
          font-size: 25px; } }
      @media (max-width: 800px) {
        .header__text-subtitle {
          font-size: 20px;
          line-height: 30px; } }
      @media (max-width: 600px) {
        .header__text-subtitle {
          font-size: 15px; } }

.menu {
  max-width: 1400px;
  margin: 0 auto;
  /* Flexnav Base Styles */ }
  .menu .flexnav {
    -webkit-transition: none;
    transition: none;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-height: 0; }
  .menu .flexnav.opacity {
    opacity: 0; }
  .menu .flexnav.flexnav-show {
    max-height: 2000px;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
  .menu .flexnav.one-page {
    position: fixed;
    top: 50px;
    right: 5%;
    max-width: 200px; }
  .menu .flexnav li {
    font-size: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 40px; }
  .menu .flexnav li a {
    font-family: "EB Garamond", serif;
    position: relative;
    display: block;
    height: 60px;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    color: #222222;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .menu .flexnav li ul {
    width: 100%;
    margin-left: -39px; }
  .menu .flexnav li ul li {
    font-size: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 20px; }
  .menu .flexnav li ul.flexnav-show li {
    overflow: visible; }
  .menu .flexnav li ul li a {
    display: block;
    background: grey; }
  .menu .flexnav ul li ul li a {
    background: #bfbfbc; }
  .menu .flexnav ul li ul li ul li a {
    background: #cbcbc9; }
  .menu .flexnav .touch-button {
    position: absolute;
    z-index: 999;
    top: 60%;
    right: 50%;
    width: 5px;
    height: 5px;
    display: inline-block;
    text-align: center; }
  .menu .flexnav .touch-button:hover {
    cursor: pointer; }
  .menu .flexnav .touch-button .navicon {
    position: relative;
    top: 1.4em;
    font-size: 12px;
    color: #666; }
  .menu .menu-button {
    position: relative;
    display: block;
    padding: 1em;
    background: #a6a6a2;
    color: #222222;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .menu .menu-button.one-page {
    position: fixed;
    top: 0;
    right: 5%;
    padding-right: 45px; }
  .menu .menu-button .touch-button {
    background: transparent;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center; }
  .menu .menu-button .touch-button .navicon {
    font-size: 16px;
    position: relative;
    top: 1em;
    color: #666; }
  @media all and (min-width: 800px) {
    .menu body.one-page {
      padding-top: 70px; }
    .menu .flexnav {
      overflow: visible; }
    .menu .flexnav.opacity {
      opacity: 1; }
    .menu .flexnav.one-page {
      top: 0;
      right: auto;
      max-width: 1080px; }
    .menu .flexnav li {
      position: relative;
      list-style: none;
      float: left;
      display: block;
      background-color: #fff;
      overflow: visible;
      width: 14%; }
    .menu .flexnav li a {
      border-bottom: none; }
    .menu .flexnav li > ul {
      position: absolute;
      top: auto;
      left: 0; }
    .menu .flexnav li > ul li {
      width: 100%;
      background-color: grey; }
    .menu .flexnav li ul li > ul {
      margin-left: 100%;
      top: 0; }
    .menu .flexnav li ul li a {
      border-bottom: none; }
    .menu .flexnav li ul.open {
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 1; }
    .menu .flexnav li ul.open li {
      overflow: visible;
      max-height: 100px; }
    .menu .flexnav li ul.open ul.open {
      margin-left: 100%;
      top: 0; }
    .menu .menu-button {
      display: none; } }
  .menu .oldie body.one-page {
    padding-top: 70px; }
  .menu .oldie .flexnav {
    overflow: visible; }
  .menu .oldie .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px; }
  .menu .oldie .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #a6a6a2;
    width: 20%;
    min-height: 50px;
    overflow: visible; }
  .menu .oldie .flexnav li:hover > ul {
    display: block;
    width: 100%;
    overflow: visible; }
  .menu .oldie .flexnav li:hover > ul li {
    width: 100%;
    float: none; }
  .menu .oldie .flexnav li a {
    border-left: 1px solid #acaca1;
    border-bottom: none;
    overflow: visible; }
  .menu .oldie .flexnav li > ul {
    background: #acaca1;
    position: absolute;
    top: auto;
    left: 0;
    display: none;
    z-index: 1;
    overflow: visible; }
  .menu .oldie .flexnav li ul li ul {
    top: 0; }
  .menu .oldie .flexnav li ul li a {
    border-bottom: none; }
  .menu .oldie .flexnav li ul.open {
    display: block;
    width: 100%;
    overflow: visible; }
  .menu .oldie .flexnav li ul.open li {
    width: 100%; }
  .menu .oldie .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0;
    display: block;
    width: 100%;
    overflow: visible; }
  .menu .oldie .flexnav ul li:hover ul {
    margin-left: 100%;
    top: 0; }
  .menu .oldie .menu-button {
    display: none; }
  .menu .oldie.ie7 .flexnav li {
    width: 19.9%; }

.photo {
  max-width: 1400px;
  margin: 0 auto; }
  .photo .slide img {
    width: 500px;
    margin: 0 auto; }

.info {
  max-width: 1400px;
  margin: 0 auto; }
  .info-title {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 70px; }
    @media (max-width: 800px) {
      .info-title {
        font-size: 40px; } }
    @media (max-width: 600px) {
      .info-title {
        font-size: 25px; } }
  .info__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 50px; }
    @media (max-width: 800px) {
      .info__wrap a {
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .info__wrap a:nth-child(n+3) {
          margin-top: 40px; } }
    .info__wrap-item {
      max-width: 200px; }
      @media (max-width: 600px) {
        .info__wrap-item {
          max-width: 150px;
          -o-object-fit: contain;
             object-fit: contain; } }
    @media (max-width: 800px) {
      .info__wrap {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

.partner {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px; }
  .partner-title {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center; }
    @media (max-width: 800px) {
      .partner-title {
        font-size: 40px; } }
    @media (max-width: 600px) {
      .partner-title {
        font-size: 25px; } }
  .partner-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 800px) {
      .partner-item img {
        width: 300px; } }

.footer {
  background-color: #232323;
  padding-top: 30px;
  padding-bottom: 50px; }
  .footer-wrap {
    max-width: 1400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media (max-width: 600px) {
      .footer-wrap {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  @media (max-width: 1100px) {
    .footer__column-logo {
      width: 200px; } }
  @media (max-width: 800px) {
    .footer__column-logo {
      width: 150px; } }
  @media (max-width: 600px) {
    .footer__column-logo {
      width: 120px; } }
  .footer__column-title, .footer__column-info, .footer__column-timetable {
    font-family: "EB Garamond", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    color: #fff; }
    @media (max-width: 1100px) {
      .footer__column-title, .footer__column-info, .footer__column-timetable {
        font-size: 18px; } }
    @media (max-width: 800px) {
      .footer__column-title, .footer__column-info, .footer__column-timetable {
        font-size: 14px; } }
  .footer__column-social {
    text-align: center; }
    .footer__column-social a {
      text-decoration: none;
      color: #929292;
      margin-right: 15px;
      font-size: 22px; }
  .footer__column-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media (max-width: 800px) {
      .footer__column-map img {
        width: 70%; } }

/*# sourceMappingURL=style.css.map */