@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
.contacts {
  display: flex;
  border-bottom: 1px solid #929292; }
  .contacts__link {
    padding-bottom: 5px;
    margin: 0 auto; }
    .contacts__link a {
      font-family: "EB Garamond", serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      text-decoration: none;
      color: #929292; }
      .contacts__link a:not(:last-child) {
        margin-right: 60px; }
      .contacts__link a i {
        vertical-align: middle; }
      .contacts__link a .vk {
        font-size: 27px; }
      .contacts__link a .phone {
        font-size: 19px; }
  .contacts__search {
    padding-bottom: 5px;
    margin: 0 auto; }
    .contacts__search a {
      font-family: "EB Garamond", serif;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      text-decoration: none;
      color: #929292; }
      .contacts__search a i {
        font-size: 18px;
        vertical-align: middle; }
    .contacts__search input {
      border: 1px solid #929292;
      border-radius: 4px; }

.header {
  padding-top: 25px;
  width: 1650px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 30px; }
  .header-logo {
    width: 265px; }
  .header__text {
    width: 1350px;
    text-align: center; }
    .header__text-title {
      margin-left: 60px;
      font-family: "EB Garamond", serif;
      font-size: 70px;
      font-weight: 400;
      line-height: 60px; }
    .header__text-subtitle {
      width: 726px;
      margin: 0 auto;
      font-family: "EB Garamond", serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 40px; }

.menu {
  width: 1800px;
  margin: 0 auto; }
  .menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex; }
  .menu a {
    font-family: "EB Garamond", serif;
    text-decoration: none;
    color: #232323;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    padding: 50px 0; }
    .menu a:hover {
      margin-top: -4px; }
  .menu__item {
    display: block;
    float: left;
    position: relative;
    border: 1px solid #929292;
    height: 165px;
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; }
    .menu__item:not(:last-child) {
      border-right: none; }
    .menu__item:hover {
      background: #eee;
      cursor: pointer;
      box-sizing: border-box;
      border-top: 5px solid #e3007b; }
    .menu__item-dropdown {
      background: #fff;
      position: absolute;
      top: 160px;
      display: none;
      border: 1px solid #929292;
      border-top: 5px solid #e3007b;
      width: 378px;
      left: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding-left: 20px; }
      .menu__item-dropdown-item {
        height: 190px;
        padding-left: 20px; }
        .menu__item-dropdown-item a {
          font-size: 20px;
          text-align: left;
          padding: 0; }
        .menu__item-dropdown-item:hover {
          background: #eee; }

.photo {
  width: 1800px;
  margin: 0 auto;
  display: flex; }
  .photo div {
    width: 960px;
    height: 675px;
    background-size: 100%; }
  .photo-1 {
    background: url(../img/image1.jpg) center no-repeat; }
  .photo-2 {
    background: url(../img/image2.jpg) no-repeat; }

.info {
  width: 1800px;
  margin: 0 auto; }
  .info-title {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 70px; }
  .info__wrap {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px; }

.partner {
  width: 1800px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px; }
  .partner-title {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center; }
  .partner-item {
    display: flex;
    justify-content: center; }

.footer {
  background-color: #232323;
  padding-top: 30px;
  padding-bottom: 50px; }
  .footer-wrap {
    width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }
  .footer__column-title, .footer__column-info, .footer__column-timetable {
    font-family: "EB Garamond", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    color: #fff; }
  .footer__column-social {
    text-align: center; }
    .footer__column-social a {
      text-decoration: none;
      color: #929292;
      margin-right: 15px;
      font-size: 22px; }
  .footer__column-map {
    display: flex;
    justify-content: space-around; }

/*# sourceMappingURL=style.css.map */
