@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
@import 'variable';



.contacts {

    border-bottom: 1px solid #929292;

    &-wrap {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }


    &__link {
        padding-bottom: 5px;
        margin: 0 auto;

        @media (max-width: 800px) {
            padding: 0 20px;
            text-align: center;
        }

        a {
            font-family: $font;
            font-size: 22px;
            font-weight: 400;
            line-height: 30px;
            text-decoration: none;
            color: #929292;

            @media (max-width: 800px) {
                font-size: 16px;
            }

            &:not(:last-child) {
                margin-right: 60px;

                @media (max-width: 1100px) {
                    margin-right: 20px;
                }
            }

            i {
                vertical-align: middle;
            }

            .vk {
                font-size: 27px;
            }

            .phone {
                font-size: 19px;
            }
        }

    }

    &__search {
        padding-bottom: 5px;
        margin: 0 auto;

        a {
            font-family: $font;
            font-size: 22px;
            font-weight: 400;
            line-height: 30px;
            text-decoration: none;
            color: #929292;

            i {
                font-size: 18px;
                vertical-align: middle;
            }
        }

        input {
            border: 1px solid #929292;
            border-radius: 4px;
        }
    }
}

.header {
    padding-top: 25px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 30px;

    @media (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &-logo {
        max-width: 200px;
        max-height: 203px;
        object-fit: cover;

        @media (max-width: 1500px) {
            margin-left: 20px;
        }

        @media (max-width: 800px) {
            max-width: 180px;
            object-fit: contain;
        }

        @media (max-width: 600px) {
            max-width: 100px;
            margin-left: 0;
        }
    }



    &__text {
        max-width: 1350px;
        text-align: center;

        @media (max-width: 1500px) {
            margin-left: -20px;
        }

        @media (max-width: 600px) {
            margin-left: 0;
        }

        &-title {
            margin-left: 60px;
            font-family: $font;
            font-size: 70px;
            font-weight: 400;
            line-height: 60px;

            @media (max-width: 1100px) {
                font-size: 50px;
                margin-left: 19px;
            }

            @media (max-width: 800px) {
                font-size: 40px;
                line-height: 50px;
            }

            @media (max-width: 600px) {
                font-size: 25px;
                line-height: 30px;
            }
        }

        &-subtitle {
            max-width: 726px;
            margin: 0 auto;
            font-family: $font;
            font-size: 30px;
            font-weight: 400;
            line-height: 40px;

            @media (max-width: 1100px) {
                font-size: 25px;
            }

            @media (max-width: 800px) {
                font-size: 20px;
                line-height: 30px;
            }

            @media (max-width: 600px) {
                font-size: 15px;
            }

        }
    }
}

.menu {
    max-width: 1400px;
    margin: 0 auto;
    // margin-bottom: 300px;

    a {
        font-family: $font;
        font-size: 22px;
        color: #232323;
        text-decoration: none;
        display: block;
        height: 100%;

        @media (max-width: 1400px) {
            font-size: 16px;
        }

        @media (max-width: 985px) {
            font-size: 14px;
        }

    }

    li {
        list-style: none;
        position: relative;
    }

    .arrow {
        display: none;
        position: absolute;
        top: calc(50% + 15px);
        left: calc(50% - 5px);
        width: 0;
        height: 0;
        border-top: 10px solid #000;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;

        &.active {
            transform: rotate(-180deg);
        }
    }

    &__list {
        display: flex;
        padding-left: 0;
        justify-content: center;

        @media (max-width: 985px) {
            flex-wrap: wrap;
        }




        &>li {
            height: 70px;
            text-align: center;
            width: 200px;
            border-top: 1px solid transparent;

            @media (max-width: 985px) {
                height: 50px;
                width: 150px;
            }


            &:hover {
                border-top: 1px solid #E3007B;
            }

            &:nth-child(5) {
                line-height: 25px;

                @media (max-width: 985px) {
                    width: 280px;
                    line-height: 17px;
                }


                &>a {
                    padding-top: 7px;

                    @media (max-width: 985px) {
                        padding-top: 10px;
                    }


                }
            }

            &>a {
                padding-top: 17px;


            }
        }

        &-sub {
            display: none;
            padding: 20px 0 0 0;
            position: absolute;
            top: 45px;
            left: -3px;
            z-index: 999;

            @media (max-width: 600px) {
                top: 40px;
            }




            &>li {
                width: 200px;
                background-color: #fff;
                padding-top: 15px;

                @media (max-width: 1400px) {
                    width: 170px;
                }

                &>a {
                    font-size: 17px;

                    @media (max-width: 1400px) {
                        font-size: 15px;
                    }

                    @media (max-width: 985px) {
                        font-size: 13px;
                    }

                    &:hover {
                        color: #E3007B;
                    }
                }
            }
        }
    }
}

body.mouse .menu__list>li:hover .menu__list-sub {
    display: block;
}

body.touch .menu__list-sub.open {
    display: block;
}

body.touch .arrow {
    display: block;
}

.photo {
    max-width: 1400px;
    margin: 0 auto;

    .slide {


        img {
            width: 500px;
            margin: 0 auto;
        }
    }

}

.info {
    max-width: 1400px;
    margin: 0 auto;

    &-title {
        font-family: $font;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        margin-bottom: 70px;

        @media (max-width: 800px) {
            font-size: 40px;
        }

        @media (max-width: 600px) {
            font-size: 25px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;

        a {
            @media (max-width: 800px) {
                width: 50%;
                display: flex;
                justify-content: center;

                &:nth-child(n+3) {
                    margin-top: 40px;
                }
            }
        }

        &-item {
            max-width: 200px;

            @media (max-width: 600px) {
                max-width: 150px;
                object-fit: contain;
            }
        }

        @media (max-width: 800px) {
            flex-wrap: wrap;
        }
    }
}

.partner {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;

    &-title {
        font-family: $font;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        text-align: center;

        @media (max-width: 800px) {
            font-size: 40px;
        }

        @media (max-width: 600px) {
            font-size: 25px;
        }
    }

    &-item {
        display: flex;
        justify-content: center;

        img {
            @media (max-width: 800px) {
                width: 300px;
            }
        }
    }
}

.footer {
    background-color: #232323;
    padding-top: 30px;
    padding-bottom: 50px;


    &-wrap {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        @media (max-width: 600px) {
            flex-wrap: wrap;
        }
    }

    &__column {
        &-logo {
            @media (max-width: 1100px) {
                width: 200px;
            }

            @media (max-width: 800px) {
                width: 150px;
            }

            @media (max-width: 600px) {
                width: 120px;
            }
        }

        &-title,
        &-info,
        &-timetable {
            font-family: $font;
            font-size: 22px;
            font-weight: 400;
            line-height: 30px;
            color: #fff;

            @media (max-width: 1100px) {
                font-size: 18px;
            }

            @media (max-width: 800px) {
                font-size: 14px;
            }
        }

        &-social {
            text-align: center;


            a {
                text-decoration: none;
                color: #929292;
                margin-right: 15px;
                font-size: 22px;
            }
        }

        &-map {
            display: flex;
            justify-content: space-around;

            img {
                @media (max-width: 800px) {
                    width: 70%;
                }
            }
        }



    }
}